/* Styles for the container holding each image and its text */
.image-container {
    margin-bottom: 30px;
    text-align: center; 
}

/* General styles for all images */
img {
    max-width: 100%; 
    height: auto; 

    filter: grayscale(50%) sepia(20%) hue-rotate(10deg) brightness(110%) contrast(90%);

    border: 8px solid lightskyblue;

    border-radius: 10px;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

    margin-bottom: 10px;
}

/* Custom style for the FIRST image */
.image-container:nth-child(1) img {
    border-color: rgb(0, 81, 162);
    box-shadow: 5px 5px 10px rgb(60, 148, 255); 
}

/* Custom style for the SECOND image */
.image-container:nth-child(2) img {
    border-color: rgb(134, 180, 255);
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.5); 
}

/* Custom style for the THIRD image */
.image-container:nth-child(3) img {
    border-color: rgb(0, 106, 255); 
}

/* Styles for the copyright text */
.copyright {
    font-size: 0.8em;
    color: #555;
}

/* Styles for the links in the copyright text */
.copyright a {
    color: #555;
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline;
}

/* Makes sure images don't get bigger than 600px */
img {
    width: 100%;
    max-width: 600px;
}
