body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #000000;
}

header {
    background-color: #17072b;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: Tahoma, sans-serif;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    padding-bottom: 0px;
    border-bottom: 4px solid white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

main {
    display: flex;
    padding: 20px;
}

#welcome {
    flex: 2;
    padding-right: 20px;
}

#lineup {
    flex: 1;
    background-color: #172d67;
    color: #FFFFFF;
    padding: 20px;
}

#lineup h2 {
    margin-top: 0;
}

#lineup ul {
    list-style-type: none;
    padding: 0;
}

#lineup li {
    margin-bottom: 10px;
}

#lineup .images {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

#lineup .images img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* Footer */
footer {
    background-color: #8c15e9;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
}

aside .lineup-images {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

aside .lineup-images img {
    width: 48%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.lineup ul {
    list-style: none;
    padding-left: 0;
}
  
.lineup ul li::before {
    content: "- ";
    color: white;
}
  
.lineup h2 {
    display: inline-block;
    padding-bottom: 0px;
    border-bottom: 3px solid white;
}

.main_welc h2 {
    display: inline-block;
    border-bottom: 3px solid rgb(0, 0, 0);
    padding-bottom: 0px;
}